:root {
    --font-color: #202125;
    --background-color: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --font-color: #e2e2e2;
        --background-color: #202125;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    color: var(--background-color);
    font-size: 13.5px;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--font-color);
    text-transform: lowercase;
}

.links-wrapper {
    display: flex;
}

.links-wrapper div {
    display: flex;
    flex-direction: column;
    margin-right: 110px;
}

.links-wrapper div:last-child {
    margin-right: 0;
}

.links-wrapper div a {
    text-decoration: none;
    color: var(--font-color);
    opacity: 0.5;
    margin-bottom: 8px;
    text-transform: lowercase;
}