<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>duree</title>
        <link rel="stylesheet" href="/static/app.css">
    </head>

    <body>
        <a style="display: block; color:RED;" href="?setup=1">SETUP</a>
        <span class="save-btn" style="display: none;">SAVE</span>
        <div class="links-wrapper">
            {{range .Bookmarks}}
            <div class="{{.Group}}-links">
                <h1>{{.Group}}</h1>
                {{range .Items}}
                <a href="{{.URL}}">{{.Title}}</a> {{end}}
            </div>
            {{end}}
        </div>

        {{if .Setup}}
        <script src="/static/jquery.min.js"></script>
        <script src="/static/app.js"></script>
        {{end}}
    </body>

</html>