<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>duree</title>
        <link rel="stylesheet" href="/static/app.css">
    </head>

    <body>

        <div class="editmode" style="display: none;">
            <p>click an item, enter title and url and press enter!</p>
            <div class="editor" data-editid="">
                <input class="title" name="title" value="" />
                <input class="url" name="url" value="" />
            </div>
        </div>

        <div class="links-wrapper">
            {{range $i, $bookmark := .Bookmarks}}
            <div class="{{.Group}}-links group-container">
                <h1 data-group="{{.Group}}" data-editable="{{$i}}" class="">{{.Group}}</h1>
                {{range $c, $item := .Items}}
                <a data-editable="{{$i}}{{$c}}" class="link"
                    data-item=""
                    data-title="{{.Title}}"
                    data-url="{{.URL}}"
                    href="{{.URL}}">{{.Title}}</a>
                {{end}}
            </div>
            {{end}}

        </div>

        <script src="/static/jquery.min.js"></script>
        <script src="/static/app.js"></script>
    </body>

</html>