<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>duree</title>
        <link rel="stylesheet" href="/static/app.css">
    </head>

    <body>

        <div class="links-wrapper">
            {{range .Bookmarks}}
            <div class="{{.Group}}-links group-container">
                <h1 data-group="{{.Group}}">{{.Group}}</h1>
                {{range .Items}}
                <a class="link"
                    href="{{.URL}}">{{.Title}}</a>
                {{end}}
            </div>
            {{end}}

        </div>

    </body>

</html>